**/.ipynb_checkpoints/
**/sfg.egg-info/
**/__pycache__/
**/sfg.egg-info/
**/pysfg.egg-info/
**/cache
*.swp
.#*
flycheck_*
/tests/*.json
/tests/plot.pdf
/build/
/tests/results/gold_spe.json
/tests/results/quartz_spe.json
/tests/results/quartz_v2_spe.json
/tests/results/sample_spe.json
